* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  background-color: #181818;
  cursor: crosshair;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

#canvas {
  position: relative;
  width: 1440px;
  height: 600px;
  border: 2px solid #333;
  background-image: url("imagens/teste.png"); /* imagem de fundo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  user-select: none;
}

.bola {
  background-color: red;
  transform-origin: center;
  animation: growAndFade 4s ease-out forwards;
}

.circuloMenor{
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circulo {
  border: 1px solid white;
  transform: translate(0%, 0%);
  animation: fadeIn 5s ease-out forwards;
}

.circulo, .bola {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.boss {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
}

.arma {
  position: absolute;
  width: 500px;
  height: 200px;
  bottom: 0;
  left: 50%;
  transform-origin: center bottom;
  transform: translateX(-50%) rotate(0deg);
  transition: transform 0.05s linear;
  background-image: url("imagens/personagem.png"); /*imagem da arma*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#municao {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 8px;
  z-index: 10;
}

.bala {
  font-size: 28px;
  color: white;
  transition: opacity 0.2s ease;
}

.bala.apagada {
  opacity: 0.2;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes growAndFade {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
