* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  background-color: #181818;
  cursor: crosshair;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  position: relative;
  width: 1440px;
  height: 600px;
  border: 2px solid #333;
  background-color: #202020;
}

.bola {
  background-color: red;
  transform-origin: center;
  animation: growAndFade 4s ease-out forwards;
}

.circulo {
  border: 1px solid white;
  transform: translate(0%, 0%);
  animation: fadeIn 5s ease-out forwards;
}

.circulo, .bola {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.boss {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
}

.arma {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: #ffcc00;
  bottom: 0;
  left: 50%;
  transform-origin: center bottom;
  transform: translateX(-50%) rotate(0deg);
  transition: transform 0.05s linear;
}

#municao{
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes growAndFade {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
